<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ndcam">

    <!-- Camera API -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- https://source.android.com/devices/camera/versioning -->
    <uses-feature android:name="android.hardware.camera2.full"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
